# Core Data Libraries
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
altair

# Machine Learning
scikit-learn

# Streamlit + Add-ons
streamlit
streamlit-extras

# Optional but helpful
jupyterlab
